@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
body {
  overflow-x: hidden;
  background: #fff;
  height: 1000px;
  font-family: "Raleway", sans-serif;
}

.nav {
  position: absolute;
  display: flex;
  flex-direction: row;
  font-size: 20px;
  color: #fff;
  justify-content: center;
  align-items: center;
  z-index: 3;
  list-style: none;
  background: #000;
  padding: 30px;
  width: 100%;
  font-weight: bold;
  left: 50%;
  margin-top: 2%;
  transform: translate(-50%, -40%);
}
@media screen and (max-width: 300px) {
  .nav {
    font-size: 10px;
  }
}
.nav li {
  margin-left: 70px;
  margin-right: 70px;
}
.nav li:hover {
  cursor: pointer;
  color: yellow;
}
@media screen and (max-width: 600px) {
  .nav li {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 10px;
  }
}

.video {
  width: 100vw;
  height: 80%;
  border: 2px solid #000;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.text {
  position: absolute;
  font-weight: 700;
  color: #fff;
  text-align: center;
  font-size: 7em;
  top: 60%;
  text-shadow: 0px 0px 2px #000, 0px 0px 4px #000;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: bold;
}
@media screen and (max-width: 700px) {
  .text {
    display: none;
  }
}

.message {
  position: relative;
  z-index: 7;
  font-size: 20px;
  color: yellow;
}
@media screen and (max-width: 376px) {
  .message {
    font-size: 13px;
  }
}